body {
  height: 100vh;
  background-color: #DEB828;

}
   @font-face {
        font-family:'myfont' ;
        src:url(fonts/bad.ttf);

      }

.top{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0;
  font-family: 'myfont', sans-serif ;
  font-size: 35px;
}

.topP{
  text-align: center;
  margin-top: 0px;
  font-family: sans-serif;
}

.photos-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}


.left {
  background-image: url('https://w0.peakpx.com/wallpaper/322/637/HD-wallpaper-dog-carry-leaf-tree-cute-animal-puppy-dog.jpg');
background-position: center;
  background-size: cover;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 80px;
  position: relative;
  margin-bottom: 150px;
   margin-top: -50px;
}


.center {
  background-image: url('https://www.kitnipbox.com/meow/wp-content/uploads/2018/02/cat-playing-1-1140x660.jpg');
background-position: center;
  background-size: cover;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 20px;
  position: relative;
}

.right {
  background-image: url('https://breedingbusiness.com/wp-content/uploads/2019/06/brown-dog-names.jpg');
background-position: center;
  background-size: cover;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 80px;
  position: relative;
   margin-top: -50px;
}

.caption {
  position: absolute;
  bottom: -75px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'myfont', sans-serif ;
}

.captionC{
  position: absolute;
        top: -75px; /* position the caption element at the bottom of the photo container */
        left: 0;
        right: 0;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: 'myfont', sans-serif ;
}

.bottom {
  text-align: center;
  font-family: sans-serif;
  margin-top: 30px;
  margin-bottom: 100px;
}


.projects {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    background-color: whitesmoke;
    text-align: center;
    padding-top: 100px;
    width: 50%;
    height: 100%;
    float:left;


}

.projects > div {
    margin: 0 10px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: calc(100% - 60%); /* Decrease the width by 30% and subtract 10px for the margin */
    height: 600px;
    margin-top: 0px;
}

.projects img {
    object-fit: cover;
    height: 250px;
    max-width: 100%;
    position: relative;

}

.projects h3 {
    text-align: center;
    position: relative;
     font-family: sans-serif;
}

.projects p {
    text-align: center;
    position: relative;
    font-weight: normal;
    font-family: sans-serif;
}

.projects > h1 {
  text-align: center;
  position: absolute;
  top: 800px;
  font-size: 40px;
  font-family: 'myfont', sans-serif ;
}

.projects > h2.power {
  margin-bottom: 260px;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 18px;
}

.more-details {
    color: royalblue;
    cursor: pointer;
}

.more-details:hover{
  color: lightblue;
}
   
   .blue {
  color: royalblue;
  cursor: pointer;
}

.blue:hover{
  color: lightblue;
}


.project2 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    background-color: gray;
    text-align: center;
    float: right;
    width: 50%;
    height: 100%;
  padding-top: 100px;
}

.project2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 50px;
  font-family: sans-serif;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.project2 > h1 {
  text-align: center;
  margin-top: 80px;
  font-family: 'myfont', sans-serif;
  font-size: 35px;
  position: absolute;
  top: 800px;
}

.project2 label {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.project2 input, .project2 select, .project2 textarea {
  width: 250%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  font-size: 16px;
  text-align: center;
}

.project2 textarea {
  resize: vertical;
  height: 120px;
  font-family: sans-serif;
}

.project2 select {
  height: 40px;
}

.project2 input:focus, .project2 select:focus, .project2 textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.project2 button {
  background-color: #DEB828;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 20px;
}

.project2 button:hover {
  background-color: #D4A824;
}

.project2 .form-group {
  margin-bottom: 20px;
}